<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyPython</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container text-center" >
            <img src="{{ url_for('static', filename= '/img/plogo.png') }}" alt="" width="180px"class="rounded" >
            <h1 class="logo">EasyPython</h1>
            <ul class="nav justify-content-center color-link">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
        </div>
    </header>
    <section>
        <div class="container main-text">
            <h2>Урок 2 условия:</h2>
            <h3>1. Синтаксис условной инструкции</h3>
            <p>Все ранее рассматриваемые программы имели линейную структуру:
                 все инструкции выполнялись последовательно одна за одной,
                 каждая записанная инструкция обязательно выполняется.</p>
            <p>Допустим мы хотим по данному числу x определить его абсолютную величину (модуль).
                 Программа должна напечатать значение переменной x, если x>0 или же величину -x в противном случае. 
                 Линейная структура программы нарушается: 
                 в зависимости от справедливости условия x>0 должна быть выведена одна или другая величина. 
                Соответствующий фрагмент программы на Питоне имеет вид: </p>
            <img src="{{ url_for('static', filename= '/img/lesson2/les2_1.png') }}" alt="" width="650px">
            <p>В этой программе используется условная инструкция if (если).
                 После слова if указывается проверяемое условие (x > 0), завершающееся двоеточием.
                  После этого идет блок (последовательность) инструкций, который будет выполнен,
                   если условие истинно, в нашем примере это вывод на экран величины x.
                    Затем идет слово else (иначе), также завершающееся двоеточием, и блок инструкций,
                     который будет выполнен, если проверяемое условие неверно, 
                в данном случае будет выведено значение -x.</p>
            <p>В условной инструкции может отсутствовать слово else и последующий блок. Такая инструкция называется неполным ветвлением.
                     Например, если дано число x и мы хотим заменить его на абсолютную величину x,
                      то это можно сделать следующим образом:</p>
            <img src="{{ url_for('static', filename= '/img/lesson2/les2_2.png') }}" alt="" width="650px">
            <p>В этом примере переменной x будет присвоено значение -x, но только в том случае, когда x < 0. А вот инструкция print(x) будет выполнена всегда,
                 независимо от проверяемого условия.
                Для выделения блока инструкций, относящихся к инструкции if или else в языке Питон используются отступы. Все инструкции,
                 которые относятся к одному блоку, должны иметь равную величину отступа, то есть одинаковое число пробелов в начале строки. 
                 Рекомендуется использовать отступ в 4 пробела и не рекомедуется использовать в качестве отступа символ табуляции.</p>
            <h3>2. Вложенные условные инструкции</h3>
            <p>Внутри условных инструкций можно использовать любые инструкции языка Питон,
                 в том числе и условную инструкцию.
                  Получаем вложенное ветвление – после одной развилки в ходе исполнения программы появляется другая развилка.
                   При этом вложенные блоки имеют больший размер отступа (например, 8 пробелов). Покажем это на примере программы,
                    которая по данным ненулевым числам x и y определяет,
                 в какой из четвертей координатной плоскости находится точка (x,y):</p>
            <img src="{{ url_for('static', filename= '/img/lesson2/les2_3.png') }}" alt="" width="650px">
            <p>В этом примере мы использовали комментарии – текст, который интерпретатор игнорирует.
                      Комментариями в Питоне является символ # и весь текст после этого символа до конца строки.</p>
            <h3>3. Операторы сравнения</h3>
            <p>Как правило, в качестве проверяемого условия используется результат вычисления одного из следующих операторов сравнения:</p>
            <p> <strong> < </strong> </p>
            <p>Меньше — условие верно, если первый операнд меньше второго.</p>
            <p> <strong> > </strong> </p>
            <p>Больше — условие верно, если первый операнд больше второго.</p>
            <p> <strong> <= </strong> </p>
            <p>Меньше или равно.</p>
            <p> <strong> >= </strong> </p>
            <p>Больше или равно.</p>
            <p> <strong> == </strong> </p>
            <p>Равенство. Условие верно, если два операнда равны.</p>
            <p> <strong> != </strong> </p>
            <p>Неравенство. Условие верно, если два операнда неравны.</p>
            <p>Например, условие (x * x < 1000) означает “значение x * x меньше 1000”,
                 а условие (2 * x != y) означает “удвоенное значение переменной x не равно значению переменной y”.</p>
            <p>Операторы сравнения в Питоне можно объединять в цепочки (в отличии от большинства других языков программирования,
                 где для этого нужно использовать логические связки)</p>
            <h3>4. Тип данных bool</h3>
            <p>Операторы сравнения возвращают значения специального логического типа bool.
                 Значения логического типа могут принимать одно из двух значений: True (истина) или False (ложь).
                  Если преобразовать логическое True к типу int, то получится 1, а преобразование False даст 0. 
                  При обратном преобразовании число 0 преобразуется в False, а любое ненулевое число в True.
                   При преобразовании str в bool пустая строка преобразовывается в False,
                 а любая непустая строка в True.</p>
            <h3>4.1. Логические операторы</h3>
            <p>Иногда нужно проверить одновременно не одно, а несколько условий.
                 Например, проверить, является ли данное число четным можно при помощи условия <strong>(n % 2 == 0)</strong> (остаток от деления n на 2 равен 0),
                  а если необходимо проверить, что два данных целых числа n и m являются четными, необходимо проверить справедливость обоих условий: <strong>n % 2 == 0 и m % 2 == 0</strong>, 
                для чего их необходимо объединить при помощи оператора and (логическое И): <strong>n % 2 == 0 and m % 2 == 0</strong>.</p>
            <p>В Питоне существуют стандартные логические операторы: логическое И, логическое ИЛИ, логическое отрицание.</p>
            <p>Логическое И является бинарным оператором (то есть оператором с двумя операндами: левым и правым) и имеет вид <strong>and</strong>. 
                Оператор <strong>and</strong> возвращает <strong>True</strong> тогда и только тогда,
                 когда оба его операнда имеют значение <strong>True</strong>.</p>
            <p>Логическое ИЛИ является бинарным оператором и возвращает <strong>True</strong> тогда и только тогда,
                 когда хотя бы один операнд равен <strong>True</strong>.
                 Оператор “логическое ИЛИ” имеет вид <strong>or</strong>.</p>
            <p>Логическое НЕ (отрицание) является унарным (то есть с одним операндом) оператором и имеет вид <strong>not</strong>,
                 за которым следует единственный операнд.
                 Логическое НЕ возвращает <strong>True</strong>, если операнд равен <strong>False</strong> и наоборот.</p>
            <p>Пример. Проверим, что хотя бы одно из чисел a или b оканчивается на 0, нажмите на начать:</p>
            <iframe height="400px" width="550px" src="https://replit.com/@Director123/GregariousMajesticNamebinding?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            <p>Проверим, что число a — положительное, а b — неотрицательное:</p>
            <p>  <strong>if a > 0 and not (b < 0):</strong></p>
            <p>Или можно вместо <strong>not (b < 0)</strong> записать <strong>(b >= 0)</strong>.</p>
            <h3>5. Каскадные условные инструкции</h3>
            <p>Пример программы, определяющий четверть координатной плоскости,
                 можно переписать используя “каскадную“ последовательность операцией <strong>if... elif... else</strong>, нажмите старт и введите переменные в консоль:</p>
            <iframe height="400px" width="550px" src="https://replit.com/@Director123/DismalDarkblueWebpage?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            <p>В такой конструкции условия if, ..., elif проверяются по очереди, выполняется блок, соответствующий первому из истинных условий.
                 Если все проверяемые условия ложны, то выполняется блок else, если он присутствует.</p>
            <h2>Задание:</h2>
            <p>Заданы две клетки шахматной доски. Если они пок50шены в один цвет,
                 то выведите слово YES, а если в разные цвета — то NO. Программа получает на вход четыре числа от 1 до 8 каждое,
                 задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки.</p>
            <iframe height="400px" width="100%" src="https://replit.com/@Director123/IncompatibleDifferentObservation?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            <p>В этой программе можно потренироваться в написании кода и проверить вышеперечисленные примеры кода.</p>
        </div>
    </section>
    <footer class="header">
        <div class="container">
            <ul class="nav justify-content-center color-text-footer">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
            <p class="fotter-text">© 2020-2021. Все права защищены</p>
        </div>
    </footer>
</body>
</html>
