<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container text-center" >
            <img src="{{ url_for('static', filename= '/img/plogo.png') }}" alt="" width="180px"class="rounded" >
            <h1 class="logo">EasyPython</h1>
            <ul class="nav justify-content-center color-link">
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
        </div>
    </header>
    <section>
        <div class="container main-text">
            <h2>Урок 9: Двумерные массивы</h2>
            <h3>1. Обработка и вывод вложенных списков</h3>
            <p>Часто в задачах приходится хранить прямоугольные таблицы с данными. Такие таблицы называются матрицами или двумерными массивами. В языке программирования Питон таблицу можно представить в виде списка строк, каждый элемент которого является в свою очередь списком, например, чисел. Например, приведём программу, в которой создаётся числовая таблица из двух строк и трех столбцов, с которой производятся различные действия.</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_1.png') }}" alt="" width="650px">
            <p>Здесь первая строка списка a[0] является списком из чисел <strong>[1, 2, 3]</strong>. То есть <strong>a[0][0] == 1</strong>, значение <strong>a[0][1] == 2, a[0][2] == 3, a[1][0] == 4, a[1][1] == 5, a[1][2] == 6</strong>.</p>
            <p>Для обработки и вывода списка, как правило, используют два вложенных цикла. Первый цикл перебирает номер строки, второй цикл бежит по элементам внутри строки. Например, вывести двумерный числовой список на экран построчно, разделяя числа пробелами внутри одной строки, можно так:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_2.png') }}" alt="" width="650px">
            <p class="border-text">Однажды мы уже пытались объяснить, что переменная цикла <strong>for</strong> в Питоне может перебирать не только диапазон, создаваемый с помощью функции <strong>range()</strong>, но и вообще перебирать любые элементы любой последовательности. Последовательностями в Питоне являются списки, строки, а также некоторые другие объекты, с которыми мы пока не встречались. Продемонстрируем, как выводить двумерный массив, используя это удобное свойство цикла for:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_3.png') }}" alt="" width="650px">
            <p>Естественно, для вывода одной строки можно воспользоваться методом <strong>join()</strong>:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_4.png') }}" alt="" width="650px">
            <p>Используем два вложенных цикла для подсчета суммы всех чисел в списке:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_5.png') }}" alt="" width="650px">
            <p>Или то же самое с циклом не по индексу, а по значениям строк:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_6.png') }}" alt="" width="650px">
            <h3>2. Создание вложенных списков</h3>
            <p>Пусть даны два числа: количество строк n и количество столбцов m. Необходимо создать список размером n×m, заполненный нулями.</p>
            <p>Очевидное решение оказывается неверным:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_7.png') }}" alt="" width="650px">
            <p>В этом легко убедиться, если присвоить элементу <strong>a[0][0]</strong> значение 5, а потом вывести значение другого элемента <strong>a[1][0]</strong> — оно тоже будет равно 5. Дело в том, что <strong>[0] * m</strong> возвращает ccылку на список из m нулей. Но последующее повторение этого элемента создает список из n элементов, которые являются ссылкой на один и тот же список (точно так же, как выполнение операции <strong>b = a</strong> для списков не создает новый список), поэтому все строки результирующего списка на самом деле являются одной и той же строкой.</p>
            <p>В визуализаторе обратите внимание на номер <strong>id</strong> у списков. Если у двух списков <strong>id</strong> совпадает, то это на самом деле один и тот же список в памяти.</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_8.png') }}" alt="" width="650px">
            <p>Таким образом, двумерный список нельзя создавать при помощи операции повторения одной строки. Что же делать?</p>
            <p>Первый способ: сначала создадим список из <strong>n</strong> элементов (для начала просто из n нулей). Затем сделаем каждый элемент списка ссылкой на другой одномерный список из <strong>m</strong> элементов:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_9.png') }}" alt="" width="650px">
            <p>Другой (но похожий) способ: создать пустой список, потом n раз добавить в него новый элемент, являющийся списком-строкой:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_10.png') }}" alt="" width="650px">
            <p>Но еще проще воспользоваться генератором: создать список из n элементов, каждый из которых будет списком, состоящих из m нулей:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_11.png') }}" alt="" width="650px">
            <p>В этом случае каждый элемент создается независимо от остальных (заново конструируется список [0] * m для заполнения очередного элемента списка), а не копируются ссылки на один и тот же список.</p>
            <h3>3. Ввод двумерного массива</h3>
            <p>Пусть программа получает на вход двумерный массив в виде n строк, каждая из которых содержит m чисел, разделенных пробелами. Как их считать? Например, так:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_12.png') }}" alt="" width="650px">
            <p>Или, без использования сложных вложенных вызовов функций:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_13.png') }}" alt="" width="650px">
            <p>Можно сделать то же самое и при помощи генератора:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_14.png') }}" alt="" width="650px">
            <h3>4. Пример обработки двумерного массива</h3>
            <p>Пусть дан квадратный массив из n строк и n столбцов. Необходимо элементам, находящимся на главной диагонали, проходящей из левого верхнего угла в правый нижний (то есть тем элементам <strong>a[i][j]</strong>, для которых <strong>i==j</strong>) присвоить значение 1, элементам, находящимся выше главной диагонали – значение 0, элементам, находящимся ниже главной диагонали – значение 2. То есть необходимо получить такой массив (пример для <strong>n==4</strong>):</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_15.png') }}" alt="" width="650px">
            <p>Рассмотрим несколько способов решения этой задачи. Элементы, которые лежат выше главной диагонали – это элементы a[i][j], для которых i < j, а для элементов ниже главной диагонали i > j. Таким образом, мы можем сравнивать значения i и j и по ним определять значение A[i][j]. Получаем следующий алгоритм:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_16.png') }}" alt="" width="650px">
            <p>Данный алгоритм плох, поскольку выполняет одну или две инструкции if для обработки каждого элемента. Если мы усложним алгоритм, то мы сможем обойтись вообще без условных инструкций.</p>
            <p>Сначала заполним главную диагональ, для чего нам понадобится один цикл:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_17.png') }}" alt="" width="650px">
            <p>Затем заполним значением 0 все элементы выше главной диагонали, для чего нам понадобится в каждой из строк с номером i присвоить значение элементам a[i][j] для j=i+1, ..., n-1. Здесь нам понадобятся вложенные циклы:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_18.png') }}" alt="" width="650px">
            <p>Аналогично присваиваем значение 2 элементам a[i][j] для j=0, ..., i-1:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_19.png') }}" alt="" width="650px">
            <p>Можно также внешние циклы объединить в один и получить еще одно, более компактное решение:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_20.png') }}" alt="" width="650px">
            <p>А вот такое решение использует операцию повторения списков для построения очередной строки списка. i-я строка списка состоит из i чисел 2, затем идет одно число 1, затем идет n-i-1 число 0:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_21.png') }}" alt="" width="650px">
            <p>А можно заменить цикл на генератор:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_22.png') }}" alt="" width="650px">
            <h3>5. Вложенные генераторы двумерных массивов</h3>
            <p>Для создания двумерных массивов можно использовать вложенные генераторы, разместив генератор списка, являющегося строкой, внутри генератора всех строк. Напомним, что сделать список из n строк и m столбцов можно при помощи генератора, создающего список из n элементов, каждый элемент которого является списком из m нулей:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_23.png') }}" alt="" width="650px">
            <p>Но при этом внутренний список также можно создать при помощи, например, такого генератора: [0 for j in range(m)]. Вложив один генератор в другой, получим вложенные генераторы:</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_24.png') }}" alt="" width="650px">
            <p>Но если число 0 заменить на некоторое выражение, зависящее от i (номер строки) и j (номер столбца), то можно получить список, заполненный по некоторой формуле.</p>
            <p>Например, пусть нужно задать следующий массив (для удобства добавлены дополнительные пробелы между элементами):</p>
            <img src="{{ url_for('static', filename= '/img/lesson9/les9_25.png') }}" alt="" width="650px">
            <p>В этом массиве n = 5 строк, m = 6 столбцов, и элемент в строке i и столбце j вычисляется по формуле: a[i][j] = i * j.</p>
            <iframe height="400px" width="100%" src="https://replit.com/@Director123/LivelyRespectfulAdware?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            <p>Попробуюте здесь прошлый код и попрактикуйтесь)</p>
    
        </div>
    </section>
    <footer class="header">
        <div class="container">
            <ul class="nav justify-content-center color-text-footer">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
            <p class="fotter-text">© 2020-2021. Все права защищены</p>
        </div>
    </footer>
</body>
</html>
