<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container text-center" >
            <img src="{{ url_for('static', filename= '/img/plogo.png') }}" alt="" width="180px"class="rounded" >
            <h1 class="logo">EasyPython</h1>
            <ul class="nav justify-content-center color-link">
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
        </div>
    </header>
    <section>
        <div class="container main-text">
            <h2>Урок 10: Множества</h2>
            <h3>1. Множества</h3>
            <p>Множество в языке Питон — это структура данных, эквивалентная множествам в математике. Множество может состоять из различных элементов, порядок элементов в множестве неопределен. В множество можно добавлять и удалять элементы, можно перебирать элементы множества, можно выполнять операции над множествами (объединение, пересечение, разность). Можно проверять принадлежность элемента множеству.</p>
            <p>В отличие от массивов, где элементы хранятся в виде последовательного списка, в множествах порядок хранения элементов неопределен (более того, элементы множества хранятся не подряд, как в списке, а при помощи хитрых алгоритмов). Это позволяет выполнять операции типа “проверить принадлежность элемента множеству” быстрее, чем просто перебирая все элементы множества.</p>
            <p>Элементами множества может быть любой неизменяемый тип данных: числа, строки, кортежи. Изменяемые типы данных не могут быть элементами множества, в частности, нельзя сделать элементом множества список (но можно сделать кортеж) или другое множество. Требование неизменяемости элементов множества накладывается особенностями представления множества в памяти компьютера.</p>
            <h3>Задание множеств</h3>
            <p>Множество задается перечислением всех его элементов в фигурных скобках. Исключением явлеется пустое множество, которое можно создать при помощи функции <strong>set()</strong>. Если функции <strong>set</strong> передать в качестве параметра список, строку или кортеж, то она вернёт множество, составленное из элементов списка, строки, кортежа. Например:</p>
            <img src="{{ url_for('static', filename= '/img/les10(1) .png') }}" alt="" width="650px">
            <p>выведет <strong>{'e', 'q', 'r', 't', 'w', 'y'}</strong>.</p>
            <p>Каждый элемент может входить в множество только один раз, порядок задания элементов неважен. Например, программа:</p>
            <img src="{{ url_for('static', filename= '/img/les10(2) .png') }}" alt="" width="650px">
            <p>выведет <strong>True</strong>, так как A и B — равные множества.</p>
            <p>Каждый элемент может входить в множество только один раз. <strong>set('Hello')</strong> вернет множество из четырех элементов: <strong>{'H', 'e', 'l', 'o'}</strong>.</p>
            <h3>Работа с элементами множеств</h3>
            <p>Узнать число элементов в множестве можно при помощи функции <strong>len</strong>.</p>
            <p>Перебрать все элементы множества (в неопределенном порядке!) можно при помощи цикла <strong>for</strong>:</p>
            <img src="{{ url_for('static', filename= '/img/les10(3) .png') }}" alt="" width="650px">
            <p>Проверить, принадлежит ли элемент множеству можно при помощи операции <strong>in</strong>, возвращающей значение типа <strong>bool</strong>. Аналогично есть противоположная операция not in. Для добавления элемента в множество есть метод add:</p>
            <img src="{{ url_for('static', filename= '/img/les10(4) .png') }}" alt="" width="650px">
            <p>Для удаления элемента <strong>x</strong> из множества есть два метода: <strong>discard</strong> и <strong>remove</strong>. Их поведение различается только в случае, когда удаляемый элемент отсутствует в множестве. В этом случае метод <strong>discard</strong> не делает ничего, а метод remove генерирует исключение <strong>KeyError</strong>.</p>
            <p>Наконец, метод <strong>pop</strong> удаляет из множества один случайный элемент и возвращает его значение. Если же множество пусто, то генерируется исключение KeyError.</p>
            <p>Из множества можно сделать список при помощи функции <strong>list</strong>.</p>
            <h3>Операции с множествами</h3>
            <p>С множествами в питоне можно выполнять обычные для математики операции над множествами.</p>
            <table border="2px" class="table">
                <tr>
                    <td><strong>A.union(B)</strong></td>
                    <td>Возвращает множество, являющееся объединением множеств A и B.</td>
                </tr>
                <tr>
                    <td><strong>A.update(B)</strong></td>
                    <td>Добавляет в множество A все элементы из множества B.</td>
                </tr>
                <tr>
                    <td><strong>A.intersection(B)</strong></td>
                    <td>Возвращает множество, являющееся пересечением множеств A и B.</td>
                </tr>
                <tr>
                    <td><strong>A.intersection_update(B)</strong></td>
                    <td>Оставляет в множестве A только те элементы, которые есть в множестве B.</td>
                </tr>
                <tr>
                    <td><strong>A.difference(B)</strong></td>
                    <td>Возвращает разность множеств A и B (элементы, входящие в A, но не входящие в B).</td>
                </tr>
                <tr>
                    <td><strong>A.difference_update(B)</strong></td>
                    <td>Удаляет из множества A все элементы, входящие в B.</td>
                </tr>
                <tr>
                    <td><strong>A.symmetric_difference(B)</strong></td>
                    <td>Возвращает симметрическую разность множеств A и B (элементы, входящие в A или в B, но не в оба из них одновременно).</td>
                </tr>
                <tr>
                    <td><strong>A.symmetric_difference_update(B)</strong></td>
                    <td>Записывает в A симметрическую разность множеств A и B</td>
                </tr>
                <tr>
                    <td><strong>A.issubset(B)</strong></td>
                    <td>Возвращает true, если A является подмножеством B.</td>
                </tr>
                <tr>
                    <td><strong>A.issuperset(B)</strong></td>
                    <td>Возвращает true, если B является подмножеством A.</td>
                </tr>
                <tr>
                    <td><strong> A < B </strong></td>
                    <td>Эквивалентно A <= B and A != B</td>
                </tr>
                <tr>
                    <td><strong> A > B </strong></td>
                    <td>Эквивалентно A >= B and A != B</td>
                </tr>
            </table>
            <h2>Задача</h2>
            <p>Условие</p>
            <p>Дан список чисел. Определите, сколько в нем встречается различных чисел.</p>
            <p>Примечание. Эту задачу на Питоне можно решить в одну строчку.</p>
            <p>Список: 1 2 3 2 1</p>
            <iframe height="400px" width="100%" src="https://replit.com/@Director123/NormalFatalHashfunction?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
  
        </div>
    </section>
    <footer class="header">
        <div class="container">
            <ul class="nav justify-content-center color-text-footer">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
            <p class="fotter-text">© 2020-2021. Все права защищены</p>
        </div>
    </footer>
</body>
</html>