<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
    <header class="header">
        <div class="container text-center" >
            <img src="{{ url_for('static', filename= '/img/plogo.png') }}" alt="" width="180px"class="rounded" >
            <h1 class="logo">EasyPython</h1>
            <ul class="nav justify-content-center color-link">
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                   <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
        </div>
    </header>
    <section>
        <div class="container main-text">
            <h2>Урок 7: Списки</h2>
            <h3>1. Списки</h3>
            <p>Большинство программ работает не с отдельными переменными, а с набором переменных. Например, программа может обрабатывать информацию об учащихся класса, считывая список учащихся с клавиатуры или из файла, 
                при этом изменение количества учащихся в классе не должно требовать модификации исходного кода программы.</p>
            <p>Раньше мы сталкивались с задачей обработки элементов последовательности, например, вычисляя наибольший элемент последовательности. Но при этом мы не сохраняли всю последовательность в памяти компьютера.
                 Однако, во многих задачах нужно именно сохранять всю последовательность, например, если бы нам требовалось вывести все элементы последовательности в возрастающем порядке (“отсортировать последовательность”).</p>
            <p>Для хранения таких данных можно использовать структуру данных, называемую в Питоне список (в большинстве же языков программирования используется другой термин “массив”). 
                Список представляет собой последовательность элементов, пронумерованных от 0, как символы в строке. Список можно задать перечислением элементов списка в квадратных скобках, например, список можно задать так:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_1.png') }}" alt="" width="650px">
            <p>В списке <strong>Primes</strong> — 6 элементов, а именно: <strong>Primes[0] == 2</strong>,</p>
            <p><strong>Primes[1] == 3, Primes[2] == 5, Primes[3] == 7</strong>,</p>
            <p><strong>Primes[4] == 11, Primes[5] == 13</strong>. Список <strong>Rainbow</strong> состоит из 7</p>
            <p>элементов, каждый из которых является строкой.</p>
            <p class="border-text">Также как и символы в строке, элементы списка можно индексировать отрицательными числами с конца, например, <strong>Primes[-1] == 13, Primes[-6] == 2</strong>.</p>
            <p>Длину списка, то есть количество элементов в нем, можно узнать при помощи функции <strong>len</strong>, например, <strong>len(Primes) == 6</strong>.</p>
            <p>В отличие от строк, элементы списка можно изменять, присваивая им новые значения.</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_2.png') }}" alt="" width="650px">
            <p>Рассмотрим несколько способов создания и считывания списков. Прежде всего, можно создать пустой список (не содержащий элементов, длины 0), 
                а в конец списка можно добавлять элементы при помощи метода <strong>append</strong>. Например,
                 пусть программа получает на вход количество элементов в списке <strong>n</strong>, а потом <strong>n</strong> элементов списка по одному в отдельной строке.
                  Вот пример входных данных в таком формате:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_3.png') }}" alt="" width="650px">
            <p>В этом случае организовать считывание списка можно так:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_4.png') }}" alt="" width="650px">
            <p>В этом примере создается пустой список, далее считывается количество элементов в списке, затем по одному считываются элементы списка и добавляются в его конец.
                 То же самое можно записать, сэкономив переменную <strong>n</strong>:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_5.png') }}" alt="" width="650px">
            <p>Для списков целиком определены следующие операции: конкатенация списков (сложение списков, т. е. приписывание к одному списку другого) и повторение списков (умножение списка на число). Например:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_6.png') }}" alt="" width="650px">
            <p>В результате список c будет равен <strong>[1, 2, 3, 4, 5]</strong>, а список d будет равен <strong>[4, 5, 4, 5, 4, 5]</strong>. Это позволяет по-другому организовать процесс считывания списков: сначала считать размер списка и создать список из нужного числа элементов, затем организовать цикл по переменной <strong>i</strong> начиная с числа 0 и внутри цикла считывается <strong>i-й</strong> элемент списка:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_7.png') }}" alt="" width="650px">
            <p>Вывести элементы списка a можно одной инструкцией <strong>print(a)</strong>, при этом будут выведены квадратные скобки вокруг элементов списка и запятые между элементами списка. Такой вывод неудобен, чаще требуется просто вывести все элементы списка в одну строку или по одному элементу в строке. Приведем два примера, также отличающиеся организацией цикла:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_8.png') }}" alt="" width="650px">
            <p>Здесь в цикле меняется индекс элемента <strong>i</strong>, затем выводится элемент списка с индексом <strong>i</strong>.</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_9.png') }}" alt="" width="650px">
            <p>В этом примере элементы списка выводятся в одну строку, разделенные пробелом, при этом в цикле меняется не индекс элемента списка, а само значение переменной (например, в цикле <strong>for elem in ['red', 'green', 'blue']</strong> переменная <strong>elem</strong> будет последовательно принимать значения <strong>'red', 'green', 'blue'</strong>.</p>
            <p class="border-text">Обратите особое внимание на последний пример! Очень важная часть идеологии Питона — это цикл <strong>for</strong>, который предоставляет удобный способ перебрать все элементы некоторой последовательности. В этом отличие Питона от Паскаля, где вам обязательно надо перебирать именно индексы элементов, а не сами элементы.
                Последовательностями в Питоне являются строки, списки, значения функции <strong>range()</strong> (это не списки), и ещё кое-какие другие объекты.
                Приведем пример, демонстрирующий использование цикла <strong>for</strong> в ситуации, когда из строки надо выбрать все цифры и сложить их в массив как числа.</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_10.png') }}" alt="" width="650px">
            <h3>2. Методы split и join</h3>
            <p>Элементы списка могут вводиться по одному в строке, в этом случае строку целиком можно считать функцией <strong>input()</strong>. После этого можно использовать метод строки <strong>split()</strong>, возвращающий список строк, которые получатся, если исходную строку разрезать на части по пробелам. Пример:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_11.png') }}" alt="" width="650px">
            <p>Если при запуске этой программы ввести строку 1 2 3, то список a будет равен <strong>['1', '2', '3']</strong>. Обратите внимание, что список будет состоять из строк, а не из чисел. Если хочется получить список именно из чисел, то можно затем элементы списка по одному преобразовать в числа:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_12.png') }}" alt="" width="650px">
            <p>Используя специальную магию Питона — генераторы — то же самое можно сделать в одну строку:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_13.png') }}" alt="" width="650px">
            <p>Объяснение того, как работает этот код, будет дано в следующем разделе. Если нужно считать список действительных чисел, то нужно заменить тип <strong>int</strong> на тип <strong>float</strong>.</p>
            <p>У метода <strong>split()</strong> есть необязательный параметр, который определяет, какая строка будет использоваться в качестве разделителя между элементами списка. Например, вызов метода <strong>split('.')</strong> вернет список, полученный разрезанием исходной строки по символам <strong>'.'</strong>:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_14.png') }}" alt="" width="650px">
            <p>В Питоне можно вывести список строк при помощи однострочной команды. Для этого используется метод строки <strong>join</strong>. У этого метода один параметр: список строк. В результате возвращается строка, полученная соединением элементов переданного списка в одну строку, при этом между элементами списка вставляется разделитель, равный той строке, к которой применяется метод. Мы знаем, что вы не поняли предыдущее предложение с первого раза. Поэтому смотрите примеры:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_15.png') }}" alt="" width="650px">
            <p>Если же список состоит из чисел, то придется использовать еще тёмную магию генераторов. Вывести элементы списка чисел, разделяя их пробелами, можно так:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_16.png') }}" alt="" width="650px">
            <p>Впрочем, если вы не любитель тёмной магии, то вы можете достичь того же эффекта, используя цикл <strong>for</strong>.</p>
            <h3>3. Генераторы списков</h3>
            <p>Для создания списка, заполненного одинаковыми элементами, можно использовать оператор повторения списка, например:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_17.png') }}" alt="" width="650px">
            <p>Для создания списков, заполненных по более сложным формулам можно использовать генераторы: выражения, позволяющие заполнить список некоторой формулой. Общий вид генератора следующий:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_18.png') }}" alt="" width="650px">
            <p>где <strong>переменная</strong> — идентификатор некоторой переменной, <strong>последовательность</strong> — последовательность значений, который принимает данная переменная (это может быть список, строка или объект, полученный при помощи функции <strong>range</strong>), выражение — некоторое выражение, как правило, зависящее от использованной в генераторе переменной, которым будут заполнены элементы списка.</p>
            <p>Вот несколько примеров использования генераторов.</p>
            <p>Создать список, состоящий из <strong>n</strong> нулей можно и при помощи генератора:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_19.png') }}" alt="" width="650px">
            <p>Если нужно заполнить список квадратами чисел от 1 до <strong>n</strong>, то можно изменить параметры функции <strong>range</strong> на <strong>range(1, n + 1)</strong>:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_20.png') }}" alt="" width="650px">
            <p>Вот так можно получить список, заполненный случайными числами от 1 до 9 (используя функцию <strong>randrange</strong> из модуля <strong>random</strong>):</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_21.png') }}" alt="" width="650px">
            <p>А в этом примере список будет состоять из строк, считанных со стандартного ввода: сначала нужно ввести число элементов списка (это значение будет использовано в качестве аргумента функции <strong>range</strong>), потом — заданное количество строк:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_22.png') }}" alt="" width="650px">
            <h3>4. Срезы</h3>
            <p>Со списками, так же как и со строками, можно делать срезы. А именно:</p>
            <p><strong>A[i:j]</strong>  срез из <strong>j-i</strong> элементов <strong>A[i], A[i+1], ..., A[j-1]</strong>.</p>
            <p><strong>A[i:j:-1]</strong>  срез из <strong>i-j</strong> элементов <strong>A[i], A[i-1], ..., A[j+1]</strong> (то есть меняется порядок элементов).</p>
            <p><strong>A[i:j:k]</strong>  срез с шагом <strong>k: A[i], A[i+k], A[i+2*k],...</strong> . Если значение <strong>k < 0</strong>, то элементы идут в противоположном порядке.</p>
            <p>Каждое из чисел <strong>i</strong> или <strong>j</strong> может отсутствовать, что означает “начало строки” или “конец строки”</p>
            <p>Списки, в отличии от строк, являются <strong>изменяемыми объектами</strong>: можно отдельному элементу списка присвоить новое значение. Но можно менять и целиком срезы. Например:</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_23.png') }}" alt="" width="650px">
            <p>Получится список, у которого вместо двух элементов среза <strong>A[2:4]</strong> вставлен новый список уже из трех элементов. Теперь список стал равен <strong>[1, 2, 7, 8, 9, 5]</strong>.</p>
            <img src="{{ url_for('static', filename= '/img/lesson7/les7_24.png') }}" alt="" width="650px">
            <p>Получится список <strong>[40, 2, 30, 4, 20, 6, 10]</strong>. Здесь <strong>A[::-2]</strong> — это список из элементов <strong>A[-1], A[-3], A[-5], A[-7]</strong>, которым присваиваются значения 10, 20, 30, 40 соответственно.</p>
            <p>Если не непрерывному срезу (то есть срезу с шагом k, отличному от 1), присвоить новое значение, то количество элементов в старом и новом срезе обязательно должно совпадать, в противном случае произойдет ошибка <strong>ValueError</strong>.</p>
            <p>Обратите внимание, <strong>A[i]</strong> — это элемент списка, а не срез!</p>
            <h3>Операции со списками</h3>
            <p>Со списками можно легко делать много разных операций.</p>
            <table border="2px" class="table">
                <tr>
                    <td><strong>x in A</strong></td>
                    <td>Проверить, содержится ли элемент в списке. Возвращает True или False</td>
                </tr>
                <tr>
                    <td><strong>x not in A</strong></td>
                    <td>То же самое, что not(x in A)</td>
                </tr>
                <tr>
                    <td><strong>min(A)</strong></td>
                    <td>Наименьший элемент списка</td>
                </tr>
                <tr>
                    <td><strong>max(A)</strong></td>
                    <td>Наибольший элемент списка</td>
                </tr>
                <tr>
                    <td><strong>A.index(x)</strong></td>
                    <td>Индекс первого вхождения элемента x в список, при его отсутствии генерирует исключение <strong>ValueError</strong></td>
                </tr>
                <tr>
                    <td><strong>A.count(x)</strong></td>
                    <td>Количество вхождений элемента <strong>x</strong> в список</td>
                </tr>
            </table>
            <h2>Задача:</h2>
            <p>Условие</p>
            <p>Выведите все четные элементы списка. При этом используйте цикл <strong>for</strong>, перебирающий элементы списка, а не их индексы!</p>
            <p>Список: 1 2 2 3 3 4 4 5</p>
            <iframe height="400px" width="100%" src="https://replit.com/@Director123/SlategreyFearfulAdvance?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>
            <p>Здесь вы можете потренироваться в написании кода:</p>
        </div>
    </section>
    <footer class="header">
        <div class="container">
            <ul class="nav justify-content-center color-text-footer">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('lessons') }}">Уроки</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('instrument') }}">Инструментарий</a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('autor') }}">Об авторе</a>
            </ul>
            <p class="fotter-text">© 2020-2021. Все права защищены</p>
        </div>
    </footer>
</body>
</html>